<div class="welcome">
    <div class="row">
        <div class=" col-md-8">
           <div class="welcome-left">
                <div class="container">
                    <div class="container p-4 col-md-8">
                        <h4 class="pt-3 pb-3 text-white font-weight6">WE PROVIDE REAL ESTATE NEW AND HOME </h4>
                        <h1 class="pb-3 text-white font-weight9">Why use realtor?</h1>
                        <p class="content1 p-1 text-white">
                            Our mission is to challenge each student, teacher, and parent with the highest expectations of
                             a rigorous curriculum, and to provide a learning environment that prepares students for college and future careers. Our students are encouraged to be contributing members of the community
                        </p>
                        <p class="content1 p-1 text-white">
                            Our mission is to challenge each student, teacher, and parent with the highest expectations of a 
                            rigorous curriculum, and to provide a learning environment that prepares students for college and future careers. Our students are encouraged to be contributing member
                        </p>
                        <div class="pt-lg-4">
                            <button class="btn btn-light bg-white rounded-0 text-dark btn-learn text-center font-weight6"> LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
        <div class=" col-md-4 col-lg-4 col-12 ">
            <div class="welcome-right"></div>
        </div>
    </div>
</div>