<a class="fork-wr p-1 bg-dark" href="#" target="_blank">
  <span class="font-weight9 text-shadow1">
    SAMUEL FAINDANI
  </span>
</a>
   

  <nav class="navbar navbar-expand-md navbar-dark bg-b">
    <div class="container">
      <div class="real-eastate p-3"><a class="navbar-brand text-center font-weight9" href="#" style="font-size: 18px;">REAL EASTATE</a></div>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#mainNav01" aria-controls="mainNav01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <div class="nav">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md container  p-md-3 p-lg-3 " aria-label="main nav">
        <div class="collapse navbar-collapse" id="mainNav01">
          <ul class="navbar-nav me-auto mb-lg-2  mb-md-2 mb-md-0 ">
            <li class="nav-item">
              <a class="nav-link font-weight7" aria-current="page" href="#section1">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight7" href="#about00">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight7" href="#gallery00">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight7" href="#service00">SERVICES</a>
            </li>
          </ul>
          <div>
            <a href="#"> <i class="typcn-social-facebook mr-2" title="facebook"></i></a>
            <a href="#"><i class="typcn-social-twitter" title="twitter"></i></a>
            <a href="#" class="" style="font-size:14px;">(+263) 777 547 547</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="section1" class="home-bg">
    <div class="container ml-3">
      <div class="row">
        <div class="col-md-6">
          <h6 class="font-weight7 text-uppercase txt-shadow1 pt-5 text-white pb-3">Welcome to our website</h6>
          <p class="txt-shadow mb-3 font-weight9 text-white">What about the latest information about the real estate? 
            Get it now!</p>
            <button class="btn rounded-0 bg-b text-white text-center font-weight7 shadow btn-learn1">LEARN MORE</button>
      </div>
      </div>

    </div>
</div>

<div class=" search-bg">
  <div class="container p-md-5 p-lg-5">
    <form class="form-inline col-md-8 p-3">
        <div class="input-group">
          <h4 class="font-weight7 d-sm-none d-lg-block d-md-block find-label">Find a home</h4>&nbsp;&nbsp;&nbsp;<input class="form-control find-inp rounded-0"> 
            <button class="btn text-white font-weight6 rounded-0  btn-search">SEARCH</button>
        </div>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="pt-5">
    <div id="gallery00" class="section">
      <div class="p-3 border-bottom">
          <h2 class="title text-center font-weight9">TOP APPARTMENTS FOR RENT</h2>
      </div>
      <div class="p-3">
        <app-services></app-services>
      </div>
    </div>
  </div>
</div>

  <div id="about00" class="section">
      <div class="">
          <app-about></app-about>
      </div>
  </div>

  <div id="testimonials00" class="section">
    <app-testimonials></app-testimonials>
  </div>

  <div id="service00" class="section">
    <app-whats-new></app-whats-new>
  </div>

<div id="footer00">
    <app-footer></app-footer>
</div>

  <!--<div id="salary00" class="section">
    <div class="text-wr">
        <h1 class="title">Section 3</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
   
</div>-->

<div class="scrolltop-wrap">
  <a href="#" role="button" aria-label="Scroll to top">
      <svg height="48" viewBox="0 0 48 48" width="48" height="48px" xmlns="http://www.w3.org/2000/svg">
          <path id="scrolltop-bg" d="M0 0h48v48h-48z"></path>
          <path id="scrolltop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
      </svg>
  </a>
</div>


  