
 .welcome-right {
    background-color: rgba(0, 0, 0, 0.5);
   /*height: 500px;
   width: 60%;
  background-color: rgba(54, 51, 111, 0.5);
 transform: skew(30deg);
 transform-origin:top;*/
}
.welcome-left {
   background-color: rgba(34, 77, 115, 0.5);
   width: 100%;
    height: 500px;
}
.welcome{
  width: 99.2%;
min-height: 500px;
   background-image: url('../../assets/images/1.jpg');

}

.btn-learn{
    padding: 15px 25px;
}

@media only screen and (max-width: 600px) {
    .welcome {
        height: auto;
    }
    .welcome-left{
        height: auto;
    }
  }