<div class="welcome">
    <div class="row">
        <div class=" col-md-8">
           <div class="">
                <div class="container">
                    <div class="container p-4 col-md-8">
                        <div class="d-flex justify-content-end">
                            <h4 class="p-5  font-weight9 text-dark">TESTIMONIALS </h4>
                        </div>
                        <div class="card ">
                            <div class="card-body p-5">
                                Our mission is to challenge each student, teacher, and parent with the highest expectations of
                             a rigorous curriculum, and to provide a learning environment that prepares students for college and future careers. Our students are encouraged to be contributing members of the community
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
        <div class=" col-md-4 col-lg-4 col-12 ">
            <div class="welcome-right"></div>
        </div>
    </div>
</div>